# Navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias desktop="cd ~/Desktop"
alias dotfiles="cd ~/projects/dotfiles"
alias kt="cd ~/projects/kyletress.com"
alias projects="cd ~/projects"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# Shortcuts
alias g="git"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# Easier migrations
alias migrate="rake db:migrate"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"
