"*":
  core:
    closeDeletedFileTabs: true
    excludeVcsIgnoredPaths: false
    restorePreviousWindowsOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    scrollPastEnd: false
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "e1d69bd1-c4fc-402e-8697-607067029179"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
