"*":
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    fontFamily: "Input Mono"
    fontSize: 15
  core:
    themes: [
      "native-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    excludeVcsIgnoredPaths: false
  welcome:
    showOnStartup: false
  emmet: {}
  "tree-view":
    hideIgnoredNames: false
  "one-dark-ui": {}
